{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="row">
    <div class="col-4">
          <form action="" method="post">
    {% csrf_token %}

  <label>Category:</label><br>
    {{ form.category }}<br>

  <br>
    <label >Course Name:</label><br>
    {{ form.course_name }}<br>
              <br>
              {% if form.errors %}
      <h4>Invalid</h4>
      {% endif%}

  <br>
   <button type="submit" value="Submit" class="btn btn-success">Submit</button>
      </form>
    </div>
    <div class="col-4"></div>
    <div class="col-4"></div>
</div>







{% endblock content %}
