{% extends 'home.html' %}
{% load static %}
{% block content %}
<form class="container mt-5" id="post-form">
  <!-- Name input -->
  <div class="form-outline mb-4">
    <input type="text" id="form4Example1" class="form-control" />
    <label class="form-label" for="form4Example1">Name</label>
  </div>


  <!-- Submit button -->
  <button type="submit" class="btn btn-primary btn-block mb-4">Send</button>
</form>
<script type="text/javascript">
$(document).on('submit','#post-form'
</script>
{% endblock content %}
